{% load static %}
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <form method="post" id="userForm" role="form" action="{% url 'users:user_create_update' %}">
            {% csrf_token %}
            <div class="modal-header">
                <h6 class="modal-title" id="staticBackdropLabel">{% if user %}Modificación del {% else %}Creación de un
                    nuevo{% endif %} empleado</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group input-group-outline mb-3">
                    <label class="form-label">Nº documento</label>
                    <input type="text" maxlength="8" id="document" name="document" class="form-control"
                           onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
                <div class="input-group input-group-outline mb-3">
                    <label class="form-label">Nombres</label>
                    <input type="text" maxlength="100" id="first_name" name="first_name" class="form-control"
                           onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
                <div class="input-group input-group-outline mb-3">
                    <label class="form-label">Apellidos</label>
                    <input type="text" maxlength="100" id="last_name" name="last_name" class="form-control"
                           onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
                <div class="input-group input-group-outline mb-3">
                    <label class="form-label">Telefono</label>
                    <input type="text" maxlength="9" id="phone" name="phone" class="form-control"
                           onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
                <div class="input-group input-group-outline mb-3">
                    <label class="form-label">Correo</label>
                    <input type="email" maxlength="150" id="email" name="email" class="form-control"
                           onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
                <div class="input-group input-group-outline mb-3">
                    <label class="form-label">Dirección</label>
                    <input type="text" maxlength="250" id="address" name="address" class="form-control"
                           onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
                <div class="input-group input-group-outline mb-3">
{#                    <label class="form-label">Fecha contrato</label>#}
                    <input type="date" id="contract_date" name="contract_date" class="form-control">
                </div>
                <div class="input-group input-group-outline mb-3">
{#                    <label class="form-label">Cargo</label>#}
                    <select class="form-select select2 select2-success" aria-label="Default select example"
                    data-dropdown-css-class="select2-success">
                        <option value="">Cargo empleado</option>
                        {% for r in role_set %}
                            {% if user.role == r.0 %}
                                <option selected="selected" value="{{ r.0 }}">
                                    {{ r.1 }}
                                </option>
                            {% else %}
                                <option value="{{ r.0 }}">
                                    {{ r.1 }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group input-group-outline mb-3">
                    <label class="form-label">Usuario</label>
                    <input type="text" maxlength="100" id="username" name="username" class="form-control"
                           onfocus="focused(this)" onfocusout="defocused(this)">
                </div>
                <div class="input-group input-group-outline mb-3">
                    <label class="form-label">Contraseña</label>
                    <input type="password" class="form-control" onfocus="focused(this)"
                           onfocusout="defocused(this)">
                </div>
                <div class="form-check form-check-info text-start ps-0">
                    <input class="form-check-input" type="checkbox" value="" id="is_active" name="is_active" checked="">
                    <label class="form-check-label" for="is_active">
                        Estado <a href="javascript:;" class="text-dark font-weight-bolder">Condición</a>
                    </label>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Sign Up
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">{% if user %}Actualizar{% else %}
                    Registrar{% endif %}</button>
            </div>
        </form>
    </div>
</div>
<script>
    $(function () {
        $.validator.setDefaults({
            submitHandler: function (form) {
                // Envía los datos del formulario usando AJAX
                $.ajax({
                    url: $(form).attr('action'), // URL de la vista Django
                    type: 'POST',
                    data: $(form).serialize(), // Serializa los datos del formulario
                    success: function (response) {
                        // Maneja la respuesta del servidor
                        if (response.success) {
                            toastr.success(response.message)
                            $('#modal-form').modal('hide'); // Cierra el modal
                            // Aquí puedes actualizar la lista de "fundos" si es necesario
                            $('#cultivo').empty().html(response.grid);
                        } else {
                            toastr.error(response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        toastr.error(error)
                    }
                });
            }
        });
        $('#cultivoForm').validate({
            rules: {
                codigo: {
                    required: true
                },
                nombre: {
                    required: true
                }
            },
            messages: {
                codigo: {
                    required: "Ingrese codigo"
                },
                nombre: {
                    required: "Ingrese nombre"
                }
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
                // Encuentra la etiqueta <label> asociada al campo del formulario
                var label = $("label[for='" + element.attr("id") + "']");
                // Añade el mensaje de error al final del texto del label entre paréntesis
                error.addClass('invalid-feedback');
                label.append(" ");
                label.append(error);
                {#label.append(" (").append(error).append(")");#}
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
    });
</script>